@import '../../scss/variable';

.component {
  display: block;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  z-index: 1400;

  background-color: $loader-background;

  opacity: 0;
  transform: translate3d(0, -100%, 0);

  animation: show $animation-duration $animation-function both;
}

.loader {
  display: block;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translateX(-50%) translateY(-50%);
}

.spinner {
  animation: rotation 1.4s linear infinite;
}

.circle {
  stroke: $loader-color;
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  stroke-width: 4px;
  transform-origin: center;
  animation: turn 1.4s ease-in-out infinite;
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0) translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes turn {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
