@import "../../scss/variable";
@import "../../scss/mixins/desktop";

.component {
	display: block;
	width: 100%;
	height: $audio-item-height;

	position: relative;

	color: $audio-item-color;

	transition: background $animation-duration $animation-function;
	cursor: pointer;
	overflow: hidden;

	@include desktop() {
		&:hover {
			background-color: darken($audio-item-background-color, 15%);
		}
	}

	& + & {
		border-top: 1px solid $audio-item-border-color;
	}
}

.content {
	display: flex;
	width: 100%;
	height: 100%;
	padding: $audio-item-padding;
	box-sizing: border-box;

	&.active {
		background-color: darken($audio-item-background-color, 40%);
	}

	&.disable {
		background-color: lighten($divider-color, 20%);
		cursor: default;
	}
}
