@import '../../scss/variable';
@import "../../scss/mixins/desktop";

.button {
	display: inline-block;
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	position: relative;

	font-weight: inherit;
	font-size: inherit;
	text-decoration: none;
	text-align: center;

	border: none;
	outline: none;

	background-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	overflow: hidden;
	cursor: pointer;
	transform: translateZ(0);
	transition:	box-shadow $animation-duration $animation-function;

	&.buttonRounded {
		border-radius: 100%;
	}

	&.disabled {
		cursor: default;
		pointer-events: none;
	}

	@include desktop() {
		&:hover {
			box-shadow: $player-control-box-shadow;

			.hoverEffect {
				background-color: $btn-hover-background;
			}
		}
	}
}

.hoverEffect {
	display: block;

	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;

	background-color: transparent;

	transition: background-color $animation-duration $animation-function
}

.ripple {
	position: absolute;

	background: rgba(0, 0, 0, 0.2);
	border-radius: 50%;

	opacity: 1;
	transform: scale(0);

	&.isReppling {
		animation: ripple $animation-duration linear;
	}
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(3);
	}
}

