@import "../../scss/variable";

.component {
	display: inline-flex;
	width: $friend-item-width;
	height: $friend-item-height;
	padding: $friend-item-padding;
	box-sizing: border-box;

	position: relative;

	border-bottom: 1px solid $friend-item-border-color;

	color: $friend-item-color;

	overflow: hidden;
	cursor: pointer;
	transition: background $animation-duration $animation-function;

	&:hover {
		background-color: $friend-item-background-color;
	}
}

.content {
	display: inline-flex;
	width: 100%;

	position: relative;

	text-align: left;

	z-index: 1;
}

.photo {
	display: block;
	width: $friend-item-photo-size;
	height: $friend-item-photo-size;

	border-radius: $friend-item-photo-size;

	margin-right: $friend-item-margin;
}

.wrapper {
	display: flex;
	padding: $friend-item-padding;
	flex-direction: column;
	justify-content: space-between;
}
