@import "../../scss/variable";
@import "../../scss/mixins/desktop";

.component {
	display: inline-flex;
	width: 100%;
	height: $friend-item-height;
	padding: $friend-item-padding;
	box-sizing: border-box;

	position: relative;

	border-bottom: 1px solid $friend-item-border-color;

	color: $friend-item-color;

	overflow: hidden;
	cursor: pointer;
	transition: background $animation-duration $animation-function;

	@include desktop() {
		width: $friend-item-width;

		&:before {
			display: block;
			width: 100%;
			height: 100%;

			position: absolute;
			top: 0;
			left: 0;

			background-color: $btn-hover-background;

			transform: translateX(-100%);
			transition: transform $animation-duration $animation-function;
			content: "";
		}

		&:hover {
			text-decoration: none;

			&:before {
				transform: translateX(0);
			}
		}
	}
}

.content {
	display: inline-flex;
	width: 100%;

	position: relative;

	text-align: left;

	z-index: 1;
}

.photo {
	display: flex;
	width: $friend-item-photo-size;
	min-width: $friend-item-photo-size;
	height: $friend-item-photo-size;

	border-radius: $friend-item-photo-size;

	margin-right: $friend-item-margin;
}

.wrapper {
	display: flex;
	width: 100%;
	padding: $friend-item-padding;
	flex-direction: column;
	justify-content: space-between;
}

.links {
	display: flex;
	justify-content: space-between;
}

.link {
	position: relative;
}
