@import '../../scss/_variable';

.component {
	display: flex;
	flex: 1;

	justify-content: center;
	align-items: center;
}

.loading {
	width: $loader-size;
	height: $loader-size;
}

.loader {
	width: $loader-size;
	height: $loader-size;
	text-align: center;
	font-size: 10px;
}

.bar {
	display: inline-block;
	height: 100%;
	width: 8px;
	margin: 0 1px;

	background-color: $accent-color;

	animation: delay 0.8s infinite ease-in-out;

	&:nth-child(1) {
		animation-delay: -0.5s;
	}

	&:nth-child(2) {
		animation-delay: -0.4s;
	}

	&:nth-child(3) {
		animation-delay: -0.3s;
	}

	&:nth-child(4) {
		animation-delay: -0.2s;
	}

	&:nth-child(5) {
		animation-delay: -0.1s;
	}
}

@keyframes delay {
	0%, 40%, 100% {
		transform: scaleY(0.08);
	}
	20% {
		transform: scaleY(1);
	}
}
