@import "../../scss/variable";

.component {
	display: flex;
	width: $left-drawer-width;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

	position: fixed;
	left: 0;
	top: $left-drawer-top;
	bottom: $left-drawer-bottom;

	background-color: $left-drawer-background;
	box-shadow: $left-drawer-box-shadow;

	z-index: 2;
	transform: translateX(-$left-drawer-width) translateZ(0);
	transition: transform $animation-duration $animation-function;
	overflow-x: hidden;
	overflow-y: auto;

	&.componentOpen {
		transform: translateX(0) translateZ(0);
	}
}

.list {
	display: block;
	width: 100%;
	margin: 0;
	padding: $left-drawer-padding 0;

	list-style: none;
}

.item {
	display: block;
	width: 100%;
}

.button {
	display: block;
	width: 100%;
	height: $left-drawer-btn-height;
	padding: 0 $left-drawer-padding;

	text-align: left;
}

.buttonContent {
	display: flex;
	align-items: center;
}

.icon {
	display: inline-block;
	padding: 0 $left-drawer-padding;
}

.text {
	display: inline-block;
	margin-left: $left-drawer-margin;

	color: $left-drawer-color;
}
