@import "../../scss/variable";

.component {
	display: flex;
	width: 100%;
	height: $header-height;
	min-height: $header-height;
	padding: 0 $header-padding;
	box-sizing: border-box;
	align-items: center;

	background-color: $header-background;
	box-shadow: $header-box-shadow;
}

.button {
	display: block;
	width: $header-button-size;
	height: $header-button-size;
	padding: $header-padding;
}

.title {
	display: block;
	margin: 0 0 0 $header-margin;

	color: $header-color;

	font-weight: normal;
}
