@import '../../scss/variable';

.component {
	display: block;

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.ripple {
	position: absolute;

	background: rgba(0, 0, 0, 0.2);
	border-radius: 50%;

	opacity: 1;
	transform: scale(0);

	animation: ripple $animation-duration linear;
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(3);
	}
}

