@import '../../scss/variable';

.component {
	display: flex;
	align-items: center;

	margin: 0 10px;
}

.btn {
	display: block;
	width: $player-control-size;
	height: $player-control-size;
	margin: 0 2px;
}
