@import 'scss/variable';
@import 'scss/fonts';

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background-color: $general-background;

	::selection {
		background-color: $primary-text-color;
		color: $general-selected-color;
	}
}

.root {
	display: block;
	width: 100%;
	height: 100%;

	font-family: $font-family;
}
