@import 'scss/variable';
@import 'scss/fonts';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-color: #303030;

  ::selection {
    background-color: #303030;
    color: rgb(0, 151, 167);
  }
}

.root {
  display: block;
  width: 100%;
  height: 100%;

  font-family: $font-family;
}
