$font-family: 'Roboto', sans-serif;

$primary-color-dark: #455a64;
$primary-color: #607d8b;
$primary-color-light: #cfd8dc;
$primary-color-text: #fff;
$accent-color: #009688;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #b6b6b6;

$animation-duration: 450ms;
$animation-function: cubic-bezier(0.23, 1, 0.32, 1);

$box-shadow-1: rgba(0, 0, 0, 0.156863) 0 3px 10px, rgba(0, 0, 0, 0.227451) 0 3px 10px;
$box-shadow-2: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;

$general-padding: 12px;
$general-margin: 12px;
$general-background: $primary-color-text;
$general-color: $primary-color-text;
$general-selected-color: $primary-color-text;
$general-content-padding: $general-padding;
$general-hover-background-color: transparentize($primary-color-light, 0.75);
$general-content-max-width: 1160px;

$btn-hover-background: $general-hover-background-color;

$header-height: 64px;
$header-padding: $general-padding;
$header-margin: $general-margin;
$header-button-size: 48px;
$header-background: $secondary-text-color;
$header-color: $primary-color-text;
$header-box-shadow: $box-shadow-1;

$player-height: 72px;
$player-padding: 10px $general-padding;
$player-margin: $general-margin;
$player-background: $secondary-text-color;
$player-box-shadow: $box-shadow-1;

$player-control-size: 34px;
$player-control-box-shadow: $box-shadow-2;

$left-drawer-width: 256px;
$left-drawer-padding: $general-padding;
$left-drawer-margin: $general-margin;
$left-drawer-background: $primary-text-color;
$left-drawer-color: $primary-color-text;
$left-drawer-top: $header-height;
$left-drawer-bottom: $player-height;
$left-drawer-btn-height: 48px;
$left-drawer-box-shadow: $box-shadow-1;

$app-padding-left: $left-drawer-width;

$loader-background: transparentize($primary-color-dark, 0.9);
$loader-color: $accent-color;

$audio-item-height: 60px;
$audio-item-padding: 10px $general-padding;
$audio-item-color: $primary-text-color;
$audio-item-background-color: $general-hover-background-color;
$audio-item-btn-size: 40px;
$audio-item-btn-background: $accent-color;
$audio-item-btn-box-shadow: $box-shadow-2;
$audio-item-border-color: $divider-color;

$audio-info-player-max-width: 400px;
$audio-info-color: $primary-text-color;
$audio-info-player-color: $primary-color-text;
$audio-info-secondary-color: $secondary-text-color;
$audio-info-secondary-player-color: $primary-color-light;
$audio-info-padding: $general-padding;
$audio-info-margin: $general-margin;
$audio-info-player-background: transparentize($secondary-text-color, 0.2);

$ply-pause-button-size: 40px;
$ply-pause-button-big-size: 48px;
$ply-pause-button-background: $accent-color;
$ply-pause-button-box-shadow: $box-shadow-2;
