$font-family: 'Roboto', sans-serif;

$animation-duration: 450ms;
$animation-function: cubic-bezier(0.23, 1, 0.32, 1);

$color-1: rgba(31, 31, 31, 0.8);
$color-2: rgb(0, 151, 167);

$loader-background: $color-1;
$loader-color: $color-2;

$content-max-width: 1160px;
