@import "../../scss/variable";

.list {
	display: block;
	width: 100%;
	margin: 0;
	padding: $left-drawer-padding 0;

	list-style: none;
}

.item {
	display: block;
	width: 100%;
}

.link {
	display: block;
	width: 100%;
	height: $left-drawer-btn-height;
	padding: 0 $left-drawer-padding;
	box-sizing: border-box;

	position: relative;

	text-align: left;
	overflow: hidden;

	&:before {
		display: block;
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		background-color: $btn-hover-background;

		transform: translateX(-100%);
		transition: transform $animation-duration $animation-function;
		content: "";
	}

	&:hover {
		text-decoration: none;

		&:before {
			transform: translateX(0);
		}
	}
}

.linkContent {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
}

.icon {
	display: inline-block;
	padding: 0 $left-drawer-padding;
}

.text {
	display: inline-block;
	margin-left: $left-drawer-margin;

	color: $left-drawer-color;
}
