@import "../../scss/variable";

.list {
	display: block;
	width: 100%;
	margin: 0;
	padding: $left-drawer-padding 0;

	list-style: none;
}

.item {
	display: block;
	width: 100%;
}

.button {
	display: flex;
	width: 100%;
	height: $left-drawer-btn-height;
	padding: 0 $left-drawer-padding;

	text-align: left;
}

.buttonContent {
	display: flex;
	width: 100%;
	align-items: center;
}

.icon {
	display: inline-block;
	padding: 0 $left-drawer-padding;
}

.text {
	display: inline-block;
	margin-left: $left-drawer-margin;

	color: $left-drawer-color;
}
