@import '../../scss/_variable';
@import "../../scss/mixins/desktop";

.component {
	display: flex;
	width: 100%;
	height: $player-height;
	min-height: $player-height;
	padding: $player-padding;
	box-sizing: border-box;
	flex-direction: row;

	position: relative;

	background-color: $player-background;
	box-shadow: $player-box-shadow;

	z-index: 1;

	@include desktop() {
		&:hover {
			.timeLine {
				transform: scaleY(1);
			}

			.volume {
				transform: scaleX(1);
			}
		}
	}
}

.box {
	display: flex;
	height: 100%;
	width: 50%;
	flex-direction: row;
	align-items: center;
}

.timeLineWrapper {
	display: block;
	width: 0;
}

.timeLine {
	width: 100%;
	height: 1em;

	position: absolute !important;
	left: 0;
	top: 0;

	font-size: $player-slider-height;

	transition: transform $animation-duration $animation-function;
	transform-origin: top;
	transform: scaleY(0.5);
}

.volumeWrapper {
	height: 100%;
}

.volume {
	width: 1em;
	height: 100%;

	font-size: $player-volume-width;

	transition: transform $animation-duration $animation-function;
	transform: scaleX(0.5);
}

.timeLeft {
	cursor: pointer;

	font-size: 16px;
	color: $audio-info-secondary-player-color;
	letter-spacing: 0.02em;

	transition: color $animation-duration $animation-function;

	@include desktop() {
		&:hover {
			color: $primary-color-text;
		}
	}
}
