@import "../../scss/variable";
@import "../../scss/mixins/desktop";

.component {
	display: inline-block;

	color: $secondary-text-color;

	text-decoration: none;
	transition: color $animation-duration $animation-function;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	@include desktop() {
		&:hover {
			color: darken($secondary-text-color, 20%);
			text-decoration: underline;
		}
	}
}
