@import "../../scss/variable";
@import "../../scss/mixins/desktop";

.component {
	background-color: $player-slider-background;

	cursor: pointer;

	&.vertical {
		.handle {
			transform: translate(-0.5em, -0.5em) scaleX(0.5);
		}

		.handleActive {
			transform: translate(-0.5em, -0.5em) scaleX(1);
		}
	}

	@include desktop() {
		&:hover {
			.handle {
				transform: translate(0.5em, -0.5em) scaleY(1);
			}

			&.vertical {
				.handle {
					transform: translate(-0.5em, -0.5em) scaleX(1);
				}
			}
		}
	}
}

.bar:first-child {
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: $player-slider-background-accent;
}

.handle {
	display: block;
	width: 2em;
	height: 2em;

	border-radius: 1em;

	background-color: $player-slider-background-accent;

	transform: translate(0.5em, -0.5em) scaleY(0.5);
	transition: transform $animation-duration $animation-function;
}

.handleActive {
	transform: translate(0.5em, -0.5em) scaleY(1);
}
